.student-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 800px){
    .student-list{
        grid-template-columns: 1fr 1fr 1fr
    }
}
@media(max-width: 550px){
    .student-list{
        grid-template-columns: 1fr 1fr
    }
}
.student-item{
    transition: background-color 2s;
}
.student-item:hover{
    background-color: #984B43;
}
.datetime-container{
    justify-content: center;
}

