.dashboard-route-button{
    background-color: #c5c1c000 !important;
    transition: background-color 2s !important;
    
}
.dashboard-route-button:hover{
    background-color: #f7ce3e !important;
}
.dashboard-main{
    height: 100%;
    
}
.dashboard-nav{
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 25% 25% 25% 25%;
}