.main-nav{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    text-align: center;
}
.drawer-overlay{
    background-color: blue;
}
.drawer-root{
    background-color: #00000033;
}
.drawer-container{
    background-color: blue;
}
.logo{
    max-width: 450px;
}

@media(max-width: 650px){
    .main-nav{
        grid-template-columns: 50% 50%;
    }
    .logo{
        width: 100%;
        height: auto;
    }
    .logo-container{
        width: 100%;
        grid-area: 1 / 1 / 2 / 3;
        order: -1
    }
}   